<h1>{{heroe.id ? 'Editar' : 'Nuevo'}} Heroe <small>{{heroe.superhero}}</small> </h1>

<div fxLayout="row" 
     fxLayoutGap="40px"
     fxLayout.xs="column">
    <div fxFlex="50" fxLayout="column">
        <div 
            fxLayout="row" 
            fxLayout.xs="column"
            fxLayoutGap="20px">
            <mat-form-field fxFlex="100"  fxLayout.xs="column">
                <mat-label>Super Heroe</mat-label>
                <input matInput 
                       type="text"
                       [(ngModel)]="heroe.superhero"
                       required>
            </mat-form-field>
    
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput 
                       type="text"
                       required
                       [(ngModel)]="heroe.alter_ego">
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Primera Aparicion</mat-label>
            <input matInput 
                   type="text"
                   [(ngModel)]="heroe.first_appearance"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input matInput 
                   type="text"
                   required
                   [(ngModel)]="heroe.characters">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Creador</mat-label>
           <mat-select required  [(ngModel)]="heroe.publisher">
               <mat-option *ngFor="let item of publishers"
                           [value]="item.id">
                   {{item.desc}}
               </mat-option>
           </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto Url</mat-label>
            <input matInput 
                   type="url"
                   required
                   [(ngModel)]="heroe.alt_img">
        </mat-form-field>

        <br>
        <div fxLayout>
        <button 
            mat-raised-button 
            color="warn"
            (click)="guardar()">
            <mat-icon>save</mat-icon>
            Guardar
        </button>
        <span class="spacer"></span>
     
            <button
                     mat-raised-button 
                     color="warn"
                     *ngIf="heroe.id"
                     (click)="borrarHeroe()">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>

    </div>
    <div fxFlex="50">
        <img [src]="heroe | imagenPipe" alt="img">
    </div>
</div>