<h1>¿Estas Seguro?</h1>
<hr>
<p>
    Estas apunto de borrar el registro de {{data.superhero}}
    <br>
    ¿Desea Continuar?
</p>

<div>
    <button mat-button (click)="borrar()" color="warn">Si</button>
    <button mat-button (click)="cerrar()" >No</button>
</div>