<h1>Listado de Heroes</h1>
<mat-divider></mat-divider>
<br>
<div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px">

     <div fxFlex="30" 
          fxFlex.lg="15"
          fxFlex.sm="30"
          *ngFor="let heroe of heroes">
            <app-heroe-tarjeta-component [heroe]="heroe"></app-heroe-tarjeta-component>
     </div>
</div>
    