<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            ir a login
        </a>
    </li>

    <li>

        <a routerLink="/auth/registro">
            ir a registro
        </a>

    </li>

    <li>

        <a routerLink="/auth/registro">
            ir a registro
        </a>

    </li>


    <li>

        <a routerLink="/heroes/listado">
            ir a heroes listado
        </a>

    </li>


    <li>

        <a routerLink="/heroes/agregar">
            ir a heroes agregar
        </a>

    </li>
    <li>

        <a routerLink="/heroes/buscar">
            ir a heroes buscar
        </a>

    </li>
    <li>

        <a routerLink="/heroes/agregar">
            ir a heroes agregar
        </a>

    </li>
</ul>



